body{
    margin: 0;
    display: flex;
    background-color:  hsl(30, 54%, 90%);
    font-family:  "Outfit", Arial;
    justify-content: center;
}

.recipe-container{
    display: flex;
    background-color: hsl(0, 0%, 100%);
    border-radius: 14px;
    flex-wrap: wrap;
    max-width: 630px;
    width: 100%;
    padding: 30px;
    margin: 100px 0px;
}

@media (max-width: 600px){
    .recipe-container{
    margin: 0px;
}
}

hr{
    border: none;
    height: 1px;
    background-color: hsl(30, 18%, 87%);
    width: 100%;  
    margin: 8px 0px;
}


.prep-time-container{
    background-color: hsl(330, 100%, 98%);
    border-radius: 12px;
}

.prep-time-title{
    color: hsl(332, 51%, 32%);
    font-weight: 700;
    padding-left: 20px;
}

/*List formatting*/

li{
    margin: 12px 12px 12px 0px;
    padding-left: 15px;
}
.instructions-ol, .ingredients-ul{
    padding-left: 20px;
}

li::marker {
    font-family: "outfit", Arial;
    font-weight: 700;
    font-variant-numeric: lining-nums;
    color: hsl(14, 45%, 36%);
}

img{
    border-radius: 12px;
    height: auto;
    max-width: 100%;
}

/*Text formatting*/

h1, h2{
    font-family: "Young Serif", Arial;
    font-weight: 400;
}

h2,.nutrition-value{
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}

p, li{
    font-size: 16px;
    color: hsl(30, 10%, 34%);
}

.font-weight-600{
    font-weight: 600;
}

/*Table*/

.nutrition-table{
    padding-left: 20px;
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    color: hsl(30, 10%, 34%);
}

.nutrition-table tr{
    border-bottom: 1px solid hsl(30, 18%, 87%);
}

td{
    padding: 15px;
}

.nutrition-table tr:last-child{
    border-bottom: none;
}
